{% extends "base.html" %}
{% block content %}
<div>
  <h2>
    10 news from HackerNews
  </h2>
  {% for element in data%}
  <span>
    {{element["title"]}}<br>
    {{element["url"]}}<br>
    {{element["text"]}}<br><br>
  </span>
  {%endfor%}
</div>

{% endblock content%}